#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "Kconfig.defaults"

menu "Audio Modules"

#----------------------------------------------------------------------------#
menu "Log levels"

module = LC3_DECODER
module-str = lc3-decoder
source "subsys/logging/Kconfig.template.log_config"

endmenu # Log levels
#----------------------------------------------------------------------------#

endmenu # Audio Modules
