/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		nordic,pm-ext-flash = &mx25r64;
	};
};

&leds: leds {
	compatible = "gpio-leds";
	rgb1: rgb_1 {
		gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>,
				<&gpio0 25 GPIO_ACTIVE_HIGH>,
				<&gpio0 26 GPIO_ACTIVE_HIGH>;
		color-mapping = <LED_COLOR_ID_RED>,
						<LED_COLOR_ID_GREEN>,
						<LED_COLOR_ID_BLUE>;
	};
	rgb2: rgb_2 {
		gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>,
				<&gpio0 29 GPIO_ACTIVE_HIGH>,
				<&gpio0 30 GPIO_ACTIVE_HIGH>;
		color-mapping = <LED_COLOR_ID_RED>,
						<LED_COLOR_ID_GREEN>,
						<LED_COLOR_ID_BLUE>;
	};
};

&spi4 {
	cs-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>,
			   <&gpio0 11 GPIO_ACTIVE_LOW>,
			   <&gpio0 17 GPIO_ACTIVE_LOW>;
	status = "okay";
	mx25r64: mx25r6435f@0 {

		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <8000000>;

		jedec-id = [ c2 28 17  ];
		jedec-id = [ c2 28 17  ];
		sfdp-bfp = [
			e5 20 f1 ff  ff ff ff 03  44 eb 08 6b  08 3b 04 bb
			ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
			10 d8 00 ff  23 72 f5 00  82 ed 04 cc  44 83 68 44
			30 b0 30 b0  f7 c4 d5 5c  00 be 29 ff  f0 d0 ff ff
		];
		size = <67108864>;
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <5000>;
		dpd-wakeup-sequence = <30000 20 45000>;
	};
};

&gpio_fwd {
	uart {
		gpios = <&gpio1 0x9 0x0>, <&gpio1 0x8 0x0>, <&gpio1 0xb 0x0>;
	};
};

/ {
	aliases {
		connection-status = &led7;
		core-status = &led6;
		device-type = &rgb1;
		audio_status = &led8;
		error_status = &rgb1;
	};
};
