#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "Kconfig.defaults"

#----------------------------------------------------------------------------#
menu "Modules"

config SW_LC3_DECODER_T2
	bool "Select the T2 software LC3 Decoder"

config AMOD_NAME_SIZE
	int "Maximum size for module naming in characters"
	default 20

endmenu # Modules

#----------------------------------------------------------------------------#
menu "Log levels"

module = SW_LC3_DECODER_T2
module-str = lc3-decoder
source "subsys/logging/Kconfig.template.log_config"

endmenu # Log levels
#----------------------------------------------------------------------------#
