#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "Kconfig.defaults"

menu "Audio Modules"

config AMOD_OUTPUT_MODULE_NUM
	int "Maximum number of connections"
	default 2
	help
	  This is the maximum number of other modules a module can connect to.


config AUDIO_MODULE_LOG_LEVEL
	int "Audio module log level"
	default 3
	help
		Audio module log level

#----------------------------------------------------------------------------#

endmenu # Audio Modules
